name: Django Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # 3. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r AA_Energies/requirements.txt

      # 4. Crear carpeta de resultados
      - name: Create results folder
        run: mkdir -p results

      # 5. Ejecutar migrations y tests desde el directorio correcto
      - name: Run Django tests and save results
        run: |
          cd AA_Energies
          python manage.py migrate
          python manage.py test AAEnergiesApp.tests --verbosity=2 > ../results/results..txt 2>&1

      # 6. Subir resultados como artifact
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: django-test-results
          path: results/results..txt
